html {
  font-family: sans-serif;
  background: #eee;
  padding: 1rem;
}

body {
  max-width: 960px;
  margin: 0 auto;
  background: #ddd;
  border-radius: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  margin: 1rem 0;
}

.content * {
  color: #000;
  text-decoration: none;
}

nav * {
  color: #fff;
  text-decoration: none;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

nav {
  background: #aaa;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

nav h1 {
  flex: auto;
  margin: 0;
}

nav h1 a {
  padding: 0.25rem 0.5rem;
}

nav ul  {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a, nav ul li span, header .action {
  display: block;
  padding: 0.5rem;
}

.content {
  padding: 0 1rem 1rem;
}

.content .action {
  color: #77b;
}

.content > header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: flex-end;
}

.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}

.flash {
  margin: 1em 0;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #377ba8;
}

.post > header {
  display: flex;
  align-items: flex-end;
  font-size: 0.85em;
}

.post > header > div:first-of-type {
  flex: auto;
}

.post > header h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}

.post .about {
  color: slategray;
}

.post .about a {
  color: #77b;
}

.post p a {
  color: #77b;
  background-color: #eee;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 10px;
}

.post .body {
  white-space: pre-line;
}

.content:last-child {
  margin-bottom: 0;
}

.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.content input, .content textarea {
  margin-bottom: 1em;
  padding: 5px;
  border-radius: 15px;
  border-style: solid;
  border-width: 0px;
}

.content textarea {
  min-height: 12em;
  resize: vertical;
}

input.danger {
  color: #cc2f2e;
}

input[type=submit] {
  align-self: start;
  min-width: 10em;
  border-radius: 15px;
  color: white;
  background-color: #555;
  border-style: solid;
  padding: 4px;
}

button {
  border-radius: 15px;  
  color: white;
  background-color: #555;
  border-style: solid;
  padding: 4px;
}

button *{
  color: white;
}

.commentDiv {
  white-space: pre-line; 
  border-style: solid;
  border-width: 1px;
}
.commentTextArea {
  width:100%
}

asciiart {
  font-family: monospace;
  font-size: 4px;
}
 .right {
  float:right
}