{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Change Password{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <input type="password" name="oldpassword" id="oldpassword" placeholder="Current Password" required>
    <input type="password" name="password" id="password" placeholder="New Password" required>
    <input type="password" name="confirmpassword" id="confirmpassword" placeholder="Confirm new Password" required>
    <input type="submit" value="Confirm Password change">
  </form>
{% endblock %}